---
- name: Set container detail if standalone setup
  set_fact:
    influxdb_container_volumes: "{{ influxdb_container_standalone_setup_details.volumes|default([], true) }}"
    influxdb_container_ports: "{{ influxdb_container_standalone_setup_details.ports|default([], true) }}"
    influxdb_container_env: "{{ influxdb_container_standalone_setup_details.env|default({}, true) }}"
  when: influxdb_setup == "standalone"

- name: Create /opt/influxdb directory
  file:
    path: /opt/influxdb
    state: directory
    mode: '0755'

- name: Copy docker-compose.yml to /opt/influxdb
  template:
    src: docker-compose.yml.j2
    dest: /opt/influxdb/docker-compose.yml
    mode: '0644'

- name: Start influxdb service with docker-compose
  community.docker.docker_compose_v2:
    project_src: /opt/influxdb
    state: present
    pull: always
  register: docker_compose_output

- name: Pause for some seconds to give time to the container to come up
  pause:
    seconds: "{{ influxdb_container_pause }}"
  when: influxdb_container_pause > 0
